{{> header }}

<div class="container">
    <form action="/update/{{ user.id }}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="image">Photo :</label><br>
            <img src="{{ user.image }}" alt="" class="w-25">
            <input type="file" name="image" id="image">
        </div>
        <div class="form-group">
            <label for="name">Name :</label>
            <input type="text" name="name" placeholder="Name" value="{{ user.name }}" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="username">Username :</label>
            <input type="text" name="username" placeholder="Username" value="{{ user.username }}" class="form-control"
                id="username">
        </div>
        <div class="form-group">
            <label for="password">Password :</label>
            <input type="password" name="password" placeholder="Password" value="{{ user.password }}"
                class="form-control" id="password">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-md btn-primary">Update</button>
        </div>
    </form>
</div>

{{> footer }}